<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.last.androsia.last">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:name="com.last.androsia.last.Common.GlobalUtilities"
        android:allowBackup="true"
        android:icon="@mipmap/logo_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/CustomTheme">
        <activity
            android:name=".Activities.TagsActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.AddTagActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_add_tag"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/CustomTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.TagsActivity" />
        </activity>
        <activity
            android:name=".Activities.ModifyTagActivity"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_modify_tag"
            android:theme="@style/PopUpTheme">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Activities.TagsActivity" />
        </activity>
    </application>

</manifest>